
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  .labels {
    display: flex;
    justify-content: space-around;
    margin: 9px 0;
    font-size: 15px;
    font-weight: 400;
  }
  
  .labels div {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .personal, .work, .important {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .personal {
    background-color: #5F63F2; 
  }
  
  .work {
    background-color: #20C997;
  }
  
  .important {
    background-color: #2C99FF; 
  }

  
  .notesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 21px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: rgb(10, 10, 10);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000; 
  }
  
  .add-button {
    font-size: 14px;
    background: rgb(130, 49, 211);
    border-width: 0px;
    border-style: solid;
    color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 0px 20.5px;
    height: 44px;
    font-weight: 600;
    box-shadow: 0px 0px;
    cursor: pointer;
  }
  .add-button .icon {
    width: 17px;
    height: 17px;
    margin-right: 8px;
  }
  .add-modal .ant-modal-content {
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
  }
  
  .add-modal .ant-modal-header {
    /* background-color: rgb(130, 49, 211); */
    color: white;
    border-bottom: none;
  }
  
  .add-modal .ant-modal-title {
    color: black;
  }
  
  .add-modal .ant-modal-footer {
    border-top: none;
  }
  
  .add-modal .ant-btn-primary {
    background-color: rgb(130, 49, 211);
    border-color: rgb(130, 49, 211);
  }
  
  .add-modal .ant-form-item {
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .notesHeader {
        flex-direction: column;
        gap: 5px;
        align-items: center;
      }
  }