/* Signup.css */

.signup-container {
    min-height: 100vh;
    background: #e6f7ff;
  }
  
  .signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: #5f63f220;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #d9d9d9;
    transition: background 0.3s ease;
    justify-content: center;
  }
  
  .signup-title {
    color: #2c99ff80;
  }
  
  .signup-form {
    width: 100%;
    padding: 10px;
  }
  
  .signup-input {
    border: 1px solid #2c99ff;
  }
  
  .signup-button-primary {
    width: fit-content;
    background: #2c99ff;
    border-color: #2c99ff;
  }
  
  .signup-button-link {
    padding-left: 0;
  }
  
  .google-button {
    width: 100%;
    background: #5f63f2;
    border-color: #5f63f2;
    color: #fff;
    margin-top: 20px;
  }
  